*{
  text-align: center;
  box-sizing: border-box;
}

h1 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 1px;
}

h3 {
  margin: auto;
  text-align: left;
  width: auto;
  background-color: #AAFFFB;
  margin-top: 17px;
  margin-bottom: 5px;
  padding: 12px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #DCDCDC;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

strong {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gold;
  display: inline;
}

.giant-box {
  border: 20px;
  margin: auto;
  width: 912px;

}

.box {
  display: inline-block;
  width: 300px;
}

.buttons {
  text-align: center;
  background-color: gold;
  padding: 10px;
  margin: 0px 0px 12px 0px;
}

.footer {
color: white;
background-color: black;
text-align: center;
padding: 1px;
}
